body{
    text-align:center;
  background-image:linear-gradient(to bottom right, pink,blue);
    color:black;
  }
  #title{
    font-size:40px;
  }
  #description{
    font-size:20px;
    font-style:italic;
  }
  #body{
    width:600px;
    padding:30px;
    margin:auto;
    background-color:lavender;
    border-radius:10px;
    text-align:left;
    font-size:20px;
    color:black;
  }
  #name{
    width:500px;
    padding:15px;
    border-radius:10px;
  }
  #email{
    width:500px;
    padding:15px;
    border-radius:10px;
  }
  #number{
    width:500px;
    padding:15px;
    border-radius:10px;
  }
  #dropdown{
    width:500px;
    padding:15px;
    border-radius:10px;
  }
  #comment{
    width:500px;
    border-radius:5px;
  }
  #submit{
    width:500px;
    padding:10px;
    font-size:20px;
    margin-top:3%;
    background-color:green;
    border-radius:5px;
    font-color:white;
  }